body{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
font-family: Arial, Helvetica, sans-serif;
overflow: hidden;
}

.container{
width: 1200px;
height: 300px;
box-shadow: 0 0 3px 3px rgb(215, 215, 215);
border-radius: 5px;
padding: 12px;
text-align: center;
}

table , tr , td , th{
border: 2px solid black;
border-collapse: collapse;
width: 1149px;
padding: 7px;
}

.item{
width: 520px;
}

.iten{
width: 770px; 
}

th{
background-color: rgb(40, 40, 40);
color: white;
}

input{
padding: 7px;
border-radius: 5px;
}

button{
color: white;
background-color: black;
padding: 7px;
border-radius: 5px;
}



