body{
font-family: Arial, Helvetica, sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
overflow: hidden;
}

div{
border-radius: 15px;
box-shadow: 0px 0px 15px 9px rgb(150, 150, 150);
margin: 60px;
padding:10px 500px 10px 90px ;
}

/* 
top
right
botton
left  */


