body {
    padding: 0;
    margin: 0;
    background-color: rgb(255, 173, 51);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(244, 244, 244);
    padding: 0 10px;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: rgb(114, 114, 114);
}

#some {
    border: none;
    background-color: black;
    color: whitesmoke;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
}

#item {
    border: none;
    background-color: whitesmoke;
    color: black;
    padding: 9px;
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
    font-weight: bold;
}

h1,
h3 {
    color: white;
}

h1 {
    font-size: 70px;
    margin-top: 200px;
}